*.pyc
*.nc
*~
*.o
Makefile
bin/
ide/rnnlib_kdevelop/rnnlib_kdevelop.kdevses
autom4te.cache/
rnnlib_kdevelop.kdevelop.pcs
src/.deps/
stamp-h1
ide/rnnlib_xcode/rnnlib_xcode.xcodeproj/alexgraves.*
ide/rnnlib_xcode/build/


